@import "../components/cards";
@import "../components/footer";

.carousel-item {
  img {
    background-size: cover;
    background-position: center;
  max-height: 100vh;
  }
}
.map {
width: 100%;
height: 100vh;
}
