<<<<<<< HEAD
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(5, 74, 15, 0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(9, 117, 43);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #d6a029;
}
=======
footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}
>>>>>>> 2477ae47423a0701d1f0fd696b36f28d108421c1
