<!-- Banner -->

<!-- Categorías -->
<div class="container my-3">
  <h1>Categorías</h1>
  <!-- Buscador servicios por categoría -->
  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  
    </div>
  </form>

  <!-- Cards de categorías -->
  <div class="cards">
    <% @categories.each do |category| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/aeyevenes/image/upload/v1632321177/tran-mau-tri-tam--81lVsfM4gQ-unsplash_skf9mv.jpg)">
        <%= link_to category.name, category %>
      </div>
    <% end %>
  </div>
</div>

<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    link <i class="fas fa-heart"></i> 
  </div>
</div>
